APP_VERSION=0.0.1

APP_LOG_LEVEL=DEBUG
LOG_FILE_BACKUP_COUNT=10
LOGFILE_PATH =/home/etdadm/logs/etd
# if set to true, file logging will be turned off
CONSOLE_LOGGING_ONLY=false 

LOG_LEVEL=DEBUG
CONSUME_QUEUE_NAME: etd_in_storage_mjv
PUBLISH_QUEUE_NAME: etd_in_storage_mjv
BROKER_URL="ampqs://un:pw@mybroker.com:5671"

JAEGER_NAME="http://localhost:4317"
JAEGER_SERVICE_NAME=ETD

HEARTBEAT_FILE=/tmp/worker_heartbeat
READINESS_FILE=/tmp/worker_ready
HEALTHCHECK_UPDATE_INTERVAL=15.0
HEARTBEAT_WINDOW=60

ALMA_MARCXML_TEMPLATE=/home/etdadm/templates/alma_marcxml_template.xml
DROPBOX_USER=
DROPBOX_SERVER=
PRIVATE_KEY_PATH=
DATA_DIR=
FILES_DIR=

ALMA_API_KEY=
ALMA_HEALTHCHECK_URL=

jobMonitor=
adminMailTo=
adminMailFrom=